/* ***********RESPONSIVE WEB DESIGN 1REM=1EM=16PX****************** */
/* BELOW 1344PX FOR SMALLER DESKTOPS */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* BELOW 1200 PX FPR LANDSCAPE TABLETS */
@media (max-width: 75em) {
  html {
    font-size: 56.35%;
  }
  .heading-secondary {
    font-size: 3.2rem;
  }
  .grid {
    row-gap: 6.4rem;
    column-gap: 4.8rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .hero {
    gap: 4.6rem;
  }
  .main-navlist {
    gap: 3.2rem;
  }
  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}
/* *******Below 944 px tablets********* */
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 0 12rem;
    gap: 6.4rem;
  }
  .hero-img {
    width: 60%;
  }
  .hero-text-box,
  .hero-image-box {
    text-align: center;
  }
  .delivered-meals {
    justify-content: center;
    margin-top: 3rem;
  }
  .heading-primary {
    font-size: 4.2rem;
  }
  .logos img {
    height: 2.4rem;
  }
  .step-number {
    font-size: 6.4rem;
  }
  .section-testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .cta-grid {
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .btn--form {
    margin-top: 1.2rem;
  }
  /**************** MOBILE NAVIGATION *****************/
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }
  .main-nav {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    /* for animartion */
    /* to hide an element without using display:none */
    opacity: 0;
    pointer-events: none;
    visibility: none;
    transform: translateX(100%);
    transition: all 0.5s ease-out;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3.2rem;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="close"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu"] {
    display: none;
  }
  .heading-tertiary {
    font-size: 2.2rem;
  }
}

/* @media (max-width: 59em) { */
/*for smaller tablets 44em setup for headings */
@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .diets {
    grid-column: 1/-1;
    justify-self: center;
  }
  .pricing-plan {
    width: 100%;
  }
  .grid-footer {
    grid-template-columns: repeat(6, 1fr);
  }
  .logo-col,
  .address-col {
    grid-column: span 3;
  }
  .nav-col {
    grid-row: 1;
  }
}
/* for mobile say at 530px */
@media (max-width: 34em) {
  .logos img {
    height: 1.2rem;
  }
  .heading-tertiary {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  .heading-secondary {
    margin-bottom: 4.8rem;
  }
  .step-number {
    font-size: 4rem;
  }
  .img-box {
    width: 45%;
  }
  .section-how {
    padding: 4.8rem 0;
  }
  .section-meals {
    padding: 4.8rem 0;
  }
  .meal-content {
    font-size: 3.6rem;
    padding: 1.6rem 2.4rem;
  }
  .hero-img {
    width: 80%;
  }
  .step-description {
    font-size: 1.4rem;
  }
  .testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 4rem;
  }
  .section-pricing {
    padding: 2rem 2rem;
    margin-top: 3.6rem;
  }
  .btn--full {
    font-size: 0.8rem;
  }
  .pricing-plan-complete {
    padding: 2.4rem;
  }
  .pricing-plan-starter {
    padding: 2.4rem;
    border: 1px solid #fdf2e9;
  }
  .pricing-plan-v .list {
    font-size: 1.2rem;
  }
  .section-cta {
    padding: 4.8rem 6rem;
  }
  .footer {
    padding: 4rem 0;
  }
  .pricing-plan-complete::after {
    content: "best value";
    position: absolute;
    top: 6%;
    right: -30%;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  .btn,
  .btn:link {
    font-size: 1.8rem;
  }
  .feature-title {
    font-size: 1.8rem;
  }
  .feature-text {
    font-size: 1.2rem;
  }
  .footer .container {
    padding: 0 8rem;
  }
  .cta-grid {
    grid-template-columns: 1fr;
    flex-direction: column;
  }
  .cta-img-box {
    display: none;
  }
}
/* Safari version */
.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
